<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <h5><%= render 'shared/user_info' %></h5>
  </aside>

  <div class="col-md-9">
    <%= render 'shared/pictorial_user_profile' %>
  </div>
</div>