<% provide(:title, 'New data') %>
<% provide(:button_text, 'Create the new data') %>

<h1 class='retroshadow_while'>Financial Data</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'financial_form' %>
  </div>
</div>